body {
  background-image: url(./Assets/Desktop\ -\ 1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  font-family: 'outfit', sans-serif;
  font-size: 1.65vw;
  max-width: 100%;
}


:root {
  --blue: rgb(138, 255, 245);
  --pink: #e89dff;
  --blue2: rgba(47, 146, 138, 0.5);
  --pink2: rgba(177, 150, 202, 0.5);
}




/*Header and Nav*/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4em;
  background-image: linear-gradient(120deg, var(--blue2), var(--pink2));
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3), 0 10px 10px 0 rgba(0, 0, 0, 0.15);
}


main {
  margin: 2em;
  min-height: 100vh;

}

.title {
  margin: 20% 0 5% 0;
}



.backHome {
  text-decoration: none;
  color: black;
}


.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: center;
  margin: 4%;
}

.button {
  font-family: 'outfit', sans-serif;
  font-weight: 500;
  letter-spacing: -0.025em;
  background-image: linear-gradient(120deg, var(--blue), var(--pink));
  background-size: 100%;
  padding: 1em 1.5em;
  border-radius: 2em;
  border: none;
  box-shadow: 0 0.5em 0.5em rgba(57, 0, 83, 0.5);
  cursor: pointer;

}

.button:hover {
  font-family: 'outfit', sans-serif;
  font-weight: 500;
  letter-spacing: -0.025em;
  background-image: linear-gradient(90deg, var(--blue), var(--pink));
  background-size: 100%;
  padding: 1em 1.5em;
  border-radius: 2em;
  border: none;
  box-shadow: 0 0.5em 0.5em rgba(12, 13, 110, 0.5);
  cursor: pointer;
}

.button:active {
  font-family: 'outfit', sans-serif;
  font-weight: 500;
  letter-spacing: -0.025em;
  background-image: linear-gradient(90deg, var(--blue), var(--pink));
  background-size: 100%;
  padding: 1em 1.5em;
  border-radius: 2em;
  border: none;
  box-shadow: 0 0.6em 0.6em rgba(12, 13, 110, 0.5);
  cursor: pointer;
  transform: translateY(2px);
}




footer {
  max-width: 100%;
  font-size: smaller;
  bottom: 0;
  margin-top: auto;
  width: 100%;
  height: 2em;
  padding: 5px;
  margin: 0;
  background-image: linear-gradient(120deg, var(--blue2), var(--pink2));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3), 0 10px 10px 0 rgba(0, 0, 0, 0.15);
}

.socialImg {
  height: 2em;
}

.socials {
  display: flex;
  justify-content: space-around;
}









@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav {
    margin: 10px 0;
  }

  body {
    font-size: 2.5vw;
  }

  .justifyAllPage {
    grid-template-columns: repeat(2, 1fr);
  }

  .button {
    size: 20%;
    font-size: x-small;
  }

}


/*Grid*/



.section {
  display: none;
  padding: 2rem;

  @media screen and (min-width: 768px) {
    padding: 4rem;
  }

  @supports(display: grid) {
    display: block;
  }
}



.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 20em;
  grid-auto-flow: row dense;
}

.item1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: black;
  grid-column-start: auto;
  grid-row-start: auto;
  background-image: url('./Assets/Assets/0b8e6068-a878-478c-a01e-310cdf01ef3c.png');
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 15px;

}

.item1:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: 0.3s ease-in-out;
}

.item1:hover {
  transform: scale(1.05);
}

.item2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: black;
  grid-column-start: auto;
  grid-row-start: auto;
  color: black;
  background-image: url('./Assets/Assets/IMG_8145.jpeg');
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 15px;
}

.item2:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: 0.3s ease-in-out;
}

.item2:hover {
  transform: scale(1.05);
}

.item3 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: black;
  grid-column-start: auto;
  grid-row-start: auto;
  color: black;
  background-image: url('./Assets/Assets/IMG_8134.jpeg');
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 15px;

}

.item3:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}

.item3:hover {
  transform: scale(1.05);
}

.item5 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: black;
  grid-column-start: auto;
  grid-row-start: auto;
  color: black;
  background-image: url("./Assets/Assets/IMG_8144.jpeg");
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 15px;

}

.item5:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: 0.3s ease-in-out;
}

.item5:hover {
  transform: scale(1.05);
}

.item4 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: black;
  grid-column-start: auto;
  grid-row-start: auto;
  color: black;
  background-image: url("./Assets/Assets/F49049C7-4478-4044-A8B0-AA09FE532B2C.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 15px;

}

.item4:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: 0.3s ease-in-out;
}

.item4:hover {
  transform: scale(1.05);
}

.item6 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: black;
  grid-column-start: auto;
  grid-row-start: auto;
  color: black;
  background-image: url("./Assets/Assets/e0ed8374-af3b-4b3c-a4d7-6cf41c5f5b5c.png");
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 15px;

}

.item6:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: 0.3s ease-in-out;
}

.item6:hover {
  transform: scale(1.05);
}

.item7 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: black;
  grid-column-start: auto;
  grid-row-start: auto;
  color: black;
  background-image: url("./Assets/Assets/dcc5667e-dfc4-4345-929f-ffb54b27d252.png");
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;


}

.item7:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: 0.3s ease-in-out;
}

.item7:hover {
  transform: scale(1.05);
}

.item8 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: black;
  grid-column-start: auto;
  grid-row-start: auto;
  color: black;
  background-image: url("./Assets/Assets/812bd30a-df66-4c92-9147-df3be94fa04a[30].png");
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 15px;
}

.item8:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: 0.3s ease-in-out;
}

.item8:hover {
  transform: scale(1.05);
}

.item9 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: black;
  grid-column-start: auto;
  grid-row-start: auto;
  color: black;
  background-image: url("./Assets/Assets/IMG_8135.jpeg");
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 15px;
}

.item9:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: 0.3s ease-in-out;
}

.item9:hover {
  transform: scale(1.05);
}

.item10 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: black;
  grid-column-start: auto;
  grid-row-start: auto;
  color: black;
  background-image: url("./Assets/Assets/IMG_8143.jpeg");
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 15px;
}

.item10:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: 0.3s ease-in-out;
}

.item10:hover {
  transform: scale(1.05);
}

.item11 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: black;
  grid-column-start: auto;
  grid-row-start: auto;
  color: black;
  background-image: url("./Assets/Assets/IMG_8139.jpeg");
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 15px;
}

.item11:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: 0.3s ease-in-out;
}

.item11:hover {
  transform: scale(1.05);
}

.item12 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: black;
  grid-column-start: auto;
  grid-row-start: auto;
  color: black;
  background-image: url("./Assets/Assets/IMG_8141.jpeg");
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 15px;
}

.item12:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: 0.3s ease-in-out;
}

.item12:hover {
  transform: scale(1.05);
}