body {
  background-image: url(./Assets/Desktop\ -\ 1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  font-family: 'outfit', sans-serif;
  font-size: 1.65vw;
  max-width: 100%;
}


:root {
  --blue: rgb(138, 255, 245);
  --pink: #e89dff;
  --blue2: rgba(47, 146, 138, 0.5);
  --pink2: rgba(177, 150, 202, 0.5);
}




/*Header and Nav*/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4em;
  background-image: linear-gradient(120deg, var(--blue2), var(--pink2));
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3), 0 10px 10px 0 rgba(0, 0, 0, 0.15);
}

.welcomeMessage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#nameField {
  font-size: 1.7vw;
}

.button {
  font-family: 'outfit', sans-serif;
  font-weight: 500;
  letter-spacing: -0.025em;
  background-image: linear-gradient(120deg, var(--blue), var(--pink));
  background-size: 100%;
  padding: 1em 1.5em;
  border-radius: 2em;
  border: none;
  box-shadow: 0 0.5em 0.5em rgba(57, 0, 83, 0.5);
  cursor: pointer;

}

.button:hover {
  font-family: 'outfit', sans-serif;
  font-weight: 500;
  letter-spacing: -0.025em;
  background-image: linear-gradient(90deg, var(--blue), var(--pink));
  background-size: 100%;
  padding: 1em 1.5em;
  border-radius: 2em;
  border: none;
  box-shadow: 0 0.5em 0.5em rgba(12, 13, 110, 0.5);
  cursor: pointer;
}

.button:active {
  font-family: 'outfit', sans-serif;
  font-weight: 500;
  letter-spacing: -0.025em;
  background-image: linear-gradient(90deg, var(--blue), var(--pink));
  background-size: 100%;
  padding: 1em 1.5em;
  border-radius: 2em;
  border: none;
  box-shadow: 0 0.6em 0.6em rgba(12, 13, 110, 0.5);
  cursor: pointer;
  transform: translateY(2px);
}

.navInsideHeader {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  transform: translateX(-20%);

}

.aTagScrollToSection {
  text-decoration: none;
  cursor: pointer !important;
}

/*All Pager Grid and Flex*/

.justifyAllPage {
  max-width: 100%;
  /*display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;*/
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: inline-end;
  min-height: 100vh;

}

/*Hero Image and Title*/


.openingSection {
  position: relative;
  width: 80%;
  padding: 1em;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.openingTitle {
  font-size: 2.5vw;
  position: absolute;
  top: 20%;
  left: 70%;
  z-index: -1;

}

.openingImg {
  max-width: 100%;
  margin: 10% 20px 20px 20px;
  z-index: -2;
  position: relative;
}



/*Design Section*/


.designSection {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1em 5% 1em 1em;
}

.designSectionBtn {
  height: 20em;
  filter: drop-shadow(5px 5px 2px #4c2d70);
}

.designSectionBtn:hover {
  height: 20em;
  filter: drop-shadow(5px 5px 2px #4c2d70);
  transform: scale(1.05);

}

.designSectionBtn:active {
  transform: translateY(5%);
}



/*WebDev Section*/

.WiTSection {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin: 1em 1em 5% 1em;
}

.WiTButton {
  height: 20em;
  filter: drop-shadow(5px 5px 2px #4c2d70);
}

.WiTButton:hover {
  height: 20em;
  filter: drop-shadow(5px 5px 2px #4c2d70);
  transform: scale(1.05);
}

.WiTButton:active {
  transform: translateY(5%);
}

/*About Me Section*/


.aboutMeSection {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1em 1em 5% 1em;
}

.aboutMeButton {
  height: 20em;
  filter: drop-shadow(5px 5px 2px #4c2d70);
}

.aboutMeButton:hover {
  height: 20em;
  filter: drop-shadow(5px 5px 2px #4c2d70);
  transform: scale(1.05);
}

.aboutMeButton:active {
  transform: translateY(5%);
}

/*Back to Top*/



/*footer*/

footer {
  max-width: 100%;
  font-size: smaller;
  bottom: 0;
  margin-top: auto;
  width: 100%;
  height: 2em;
  padding: 5px;
  margin: 0;
  background-image: linear-gradient(120deg, var(--blue2), var(--pink2));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3), 0 10px 10px 0 rgba(0, 0, 0, 0.15);
}

.socialImg {
  height: 2em;
}

.socials {
  display: flex;
  justify-content: space-around;
}


/*Media Queries*/

@media only screen and (max-width: 768px) {
  .navInsideHeader {
    display: none;
  }

  body {
    font-size: small;

  }

  .justifyAllPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .custom-btn {
    display: none;
  }


  .designSection {
    display: flex;
    flex-direction: column;
  }

  .WiTSection {
    display: flex;
    flex-direction: column;
  }

  .aboutMeSection {
    display: flex;
    flex-direction: column;
  }

  .nameField {
    font-size: 5em;
  }

  .button {
    size: 20%;
    font-size: x-small;
  }

}