body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'outfit', sans-serif;
    background-image: url(./photo-1628944682084-831f35256163.avif);
    background-size:cover;
    background-repeat: repeat-y;
    font-size: 1rem;
   
}


:root {
    --blue: rgb(138, 255, 245);
    --pink: #e89dff;
    --blue2: rgba(47, 146, 138, 0.5);
    --pink2: rgba(177, 150, 202, 0.5);
  }
  

.form{
    margin:20%;
    background-color: rgb(224, 187, 228, 0.7);
    width: 100%;
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nameField{
    width:10%;
}

.Button {
    font-family: 'outfit', sans-serif;
    font-weight: 500;
    letter-spacing: -0.025em;
    background-image: linear-gradient(120deg, var(--blue), var(--pink));
    background-size: 100%;
    padding: 1em 1.5em;
    border-radius: 2em;
    border: none;
    box-shadow: 0 0.5em 0.5em rgba(57, 0, 83, 0.5);
    cursor: pointer;
  
  }
  
  .Button:hover {
    font-family: 'outfit', sans-serif;
    font-weight: 500;
    letter-spacing: -0.025em;
    background-image: linear-gradient(90deg, var(--blue), var(--pink));
    background-size: 100%;
    padding: 1em 1.5em;
    border-radius: 2em;
    border: none;
    box-shadow: 0 0.5em 0.5em rgba(12, 13, 110, 0.5);
    cursor: pointer;
  }
  
  .Button:active {
    font-family: 'outfit', sans-serif;
    font-weight: 500;
    letter-spacing: -0.025em;
    background-image: linear-gradient(90deg, var(--blue), var(--pink));
    background-size: 100%;
    padding: 1em 1.5em;
    border-radius: 2em;
    border: none;
    box-shadow: 0 0.6em 0.6em rgba(12, 13, 110, 0.5);
    cursor: pointer;
    transform: translateY(2px);
  }

@media only screen and (max-width: 768px) {
   
    .form{
        height:15em;
    }
    body{
        font-size: 1em;
    }
    .button{
      display: none;
    }
  }