body {
  background-image: url(./Assets/Desktop\ -\ 1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  font-family: 'outfit', sans-serif;
  font-size: 1.65vw;
  max-width: 100%;
}


:root {
  --blue: rgb(138, 255, 245);
  --pink: #e89dff;
  --blue2: rgba(47, 146, 138, 0.5);
  --pink2: rgba(177, 150, 202, 0.5);
}

/*Header and Nav*/


.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4em;
  background-image: linear-gradient(120deg, var(--blue2), var(--pink2));
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3), 0 10px 10px 0 rgba(0, 0, 0, 0.15);
}


.backHome {
  text-decoration: none;
  cursor: pointer !important;
  color: black;
}

/*All Pager Grid and Flex*/

.justifyAllPage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: inline-end;
  min-height: 100vh;

}

/*Hero Image and Title*/


.openingSection {
  margin: 10% 0 0 0;
  position: relative;
  width: 80%;
  padding: 1em;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: flex-end;
}

.openingTitle {
  font-size: 3vw;
  position: absolute;
  top: 70%;
  left: 50%;
  z-index: -1;
  margin: 0 0 0 4rem;

}

.openingImg {
  height: 18em;
  margin: 10% 20px 0 20px;
  z-index: -2;
  position: relative;
}





/*secondP*/

.thePs {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin: 1em 1em 5% 1em;
}


.button {
  font-family: 'outfit', sans-serif;
  font-weight: 500;
  letter-spacing: -0.025em;
  background-image: linear-gradient(120deg, var(--blue), var(--pink));
  background-size: 100%;
  padding: 1em 1.5em;
  border-radius: 2em;
  border: none;
  box-shadow: 0 0.5em 0.5em rgba(57, 0, 83, 0.5);
  cursor: pointer;

}

.button:hover {
  font-family: 'outfit', sans-serif;
  font-weight: 500;
  letter-spacing: -0.025em;
  background-image: linear-gradient(90deg, var(--blue), var(--pink));
  background-size: 100%;
  padding: 1em 1.5em;
  border-radius: 2em;
  border: none;
  box-shadow: 0 0.5em 0.5em rgba(12, 13, 110, 0.5);
  cursor: pointer;
}

.button:active {
  font-family: 'outfit', sans-serif;
  font-weight: 500;
  letter-spacing: -0.025em;
  background-image: linear-gradient(90deg, var(--blue), var(--pink));
  background-size: 100%;
  padding: 1em 1.5em;
  border-radius: 2em;
  border: none;
  box-shadow: 0 0.6em 0.6em rgba(12, 13, 110, 0.5);
  cursor: pointer;
  transform: translateY(2px);
}

/*footer*/

footer {
  max-width: 100%;
  font-size: smaller;
  bottom: 0;
  margin-top: auto;
  width: 100%;
  height: 2em;
  padding: 5px;
  margin: 0;
  background-image: linear-gradient(120deg, var(--blue2), var(--pink2));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3), 0 10px 10px 0 rgba(0, 0, 0, 0.15);
}

.socialImg {
  height: 2em;
}

.socials {
  display: flex;
  justify-content: space-around;
}

.socialImg2 {
  height: 4em;
  transform: translateY(-8em);
}

.marg {
  margin-left: 4em;
}



.icon-column {
  grid-area: "menu";
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/*Media Queries*/

@media only screen and (max-width: 768px) {


  body {
    font-size: small;
  }

  .justifyAllPage {
    grid-template-columns: repeat(2, 1fr);
  }

  .custom-btn {
    display: none;
  }

  .socialImg2 {
    transform: translateY(-5em);
  }

  .button {
    size: 20%;
    font-size: x-small;
  }

}